*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Alata", sans-serif;
}

.fw-300 {
  font-weight: 300;
}

.ff-head {
  font-family: "Josefin Sans", sans-serif;
}

.ff-body {
  font-family: "Alata", sans-serif;
}

.flex__class {
  display: flex;
  align-items: center;
}

.navbar_main {
  justify-content: space-between;
}
@media (max-width: 576px) {
  .navbar_main {
    flex-direction: column;
  }
}

.nav_items {
  position: relative;
  padding: 0.78rem 0;
}
.nav_items a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}
.nav_items a::after, .nav_items a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: 0.5s ease;
}
.nav_items a::after {
  left: 50%;
}
.nav_items a::before {
  right: 50%;
}
.nav_items a:hover::after, .nav_items a:hover::before {
  width: 50%;
  background-color: hsl(0deg, 0%, 100%);
}
.nav_items a:hover::after {
  left: 25%;
}
.nav_items a:hover::before {
  right: 25%;
}

.nav_main {
  list-style: none;
  gap: 2.5rem;
  padding: 0;
}
@media (max-width: 576px) {
  .nav_main {
    flex-direction: column;
    gap: 0;
  }
}

.heroSection {
  padding: 3.75rem 10rem;
  background-image: url(../desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
@media (max-width: 576px) {
  .heroSection {
    padding: 2rem;
    background-image: url(../mobile/image-hero.jpg);
  }
}

.main_hero {
  border: 1px solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%);
  max-width: 700px;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1;
  padding: 2rem;
  margin-block: 7.5rem;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 4rem;
}
@media (max-width: 576px) {
  .main_hero {
    font-size: 2.75rem;
    padding: 1.75rem;
    gap: 0;
    grid-template-rows: auto auto 5rem;
  }
}

.interactiveSection {
  padding: 10rem;
}
@media (max-width: 576px) {
  .interactiveSection {
    padding: 6rem 2rem 2rem 2rem;
  }
}

.interactive_main {
  position: relative;
}
@media (max-width: 576px) {
  .interactive_main {
    flex-direction: column;
  }
}

.interactive_content {
  background-color: hsl(0deg, 0%, 100%);
  padding: 6.25rem 0 0 6.25rem;
  display: grid;
  gap: 1.5rem;
  position: absolute;
  inset: auto 0 0 auto;
  max-width: 600px;
}
@media (max-width: 576px) {
  .interactive_content {
    position: static;
    padding: 3rem 0 0 0;
    text-align: center;
  }
}
@media (max-width: 1440px) {
  .interactive_content {
    max-width: 550px;
  }
}
.interactive_content p {
  color: hsl(0deg, 0%, 55%);
  font-size: 0.938rem;
  line-height: 1.7;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1;
  font-weight: 300;
}
@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
}

.creationSection {
  padding: 0 10rem 10rem 10rem;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 4rem;
}
@media (max-width: 576px) {
  .creationSection {
    padding: 5rem 2rem;
    grid-template-columns: auto;
    place-items: center;
  }
}

.creation_btn {
  padding: 0.5rem 2rem;
  border: 2px solid hsl(0deg, 0%, 41%);
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: hsl(0deg, 0%, 100%);
  transition: 0.5s ease-in-out;
}
.creation_btn:is(:hover, :focus) {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}
@media (max-width: 576px) {
  .creation_btn {
    grid-row: 3;
  }
}

.creation_content_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  grid-area: span 1/span 2;
}
@media (max-width: 576px) {
  .creation_content_main {
    grid-template-columns: auto;
    grid-area: auto;
  }
}
.creation_content_main .creation_content {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.creation_content_main .creation_content:is(:hover, :focus) img {
  opacity: 0.3;
}
.creation_content_main .creation_content:is(:hover, :focus) span {
  z-index: 999;
  color: hsl(0deg, 0%, 0%);
  opacity: 1;
  box-shadow: 0 1rem 2rem 3rem rgba(0, 0, 0, 0);
  background-color: transparent;
}
.creation_content_main img {
  transition: 0.5s ease;
  width: 100%;
}
.creation_content_main span {
  position: absolute;
  inset: auto 2rem 1.5rem 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
  transition: 350ms ease;
}
@media (max-width: 576px) {
  .creation_content_main span {
    font-size: 1.5rem;
  }
}

footer {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}
footer .navbar {
  padding: 3rem 10rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
}
@media (max-width: 576px) {
  footer .navbar {
    padding: 3rem;
    grid-template-columns: auto;
    place-items: center;
  }
}
footer .social_icons {
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}
@media (max-width: 576px) {
  footer .social_icons {
    grid-row: 3;
  }
}
footer .social_icons a:hover::after {
  left: 50%;
}
footer .social_icons a:hover::before {
  right: 50%;
}
footer i {
  font-size: 1.75rem;
}
footer p {
  color: hsl(0deg, 0%, 41%);
  text-align: end;
}

/*# sourceMappingURL=style.css.map */
